.app-header {
  background-color: lightblue;
  margin-bottom: 50px;
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;

  .logo {
    flex-grow: 1;
  }

  nav {
    a:not(:last-child) {
      margin-right: 15px;
    }
  }
}
