.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }
  header {
    background-color: lightblue;
    margin-bottom: 50px;
  }

  footer {
    background-color: #252525;
    color: white;
  }

  header,
  footer {
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
  }
}
