.modal-list {
  height: 600px;
  width: 500px;
  position: fixed;
  inset: 0;
  top: -10%;
  margin: auto;
  padding-top: 5%;
  background-color: rgb(250, 252, 250);
  border: rgb(255 255 255 / 18%) 3px solid;
  box-shadow: -3px 1px 28px #00000061;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background-color: #1d2323;

  form {
    margin-bottom: 20px;
  }
}
